# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django projects\single_page_app_kafka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
