<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="{% url 'commands-home' %}">
<table style="width:100%" border="1">
     <h2>Commands</h2>

  <tr>
    <td><a href="django-kafka/commands-last-offest">commands-las-offest</a></td>
    <td><a href="django-kafka/commands-last-massage">commands-las-massage</a></td>
    <td><a href="django-kafka/commands-from-beginng">commands-from-beginng</a></td>
    <td><a href="django-kafka/commands-timestamps">commands-timestamps</a></td>

  </tr>
</table>
<a href="/home"><h2>Back</h2></a>

</form>
</body>
</html>